  <div class="section-head">
      <h2 class="center-text">Profile</h2>
  </div>
  
  
  <div class="habit-row">
    <div class="blue-top"></div>
      <div class="row">
        <div class="col-sm-4 col-lg-3">  
            <% if @profile.profile_pic.nil? %>
              <div class="first-event">
              </div>
            <% else %>
              <div class="photo">
                <%= image_tag @profile.profile_pic.url(:square) %>
              </div>
            <% end %>
        </div>
        
        <div class="col-sm-8 col-lg-9">
          <div class="detail">   
            <h3 class="habit-title">
              <%= @current_user.first_name %> <%= @current_user.last_name %>
            </h3>
            <% unless @profile.tagline.nil? %>
              <h5 class="frequency">
                <%= @profile.tagline %>
              </h5>
            <% end %>

            <h4 class="habit-title">
              <% if @current_user.habits.count.nil? %>
                0
              <% else %> 
                <%= @current_user.habits.count %>
              <% end %>
              Total Habits
                <%= render "habits/add_habit" %>
            </h4>
            <h4>
              Points
            </h4>
          </div>
        </div>
      </div>
  </div>

