<div class="container">
  <div id="pic">
    <% unless @profile.profile_pic.nil? %> 
      <%= image_tag @profile.profile_pic.url(:medium) %>
    <% end %>
  </div>
  <div id="profileheading">
    <h1><%= @current_user.first_name %> <%= @current_user.last_name %></h1><br>
    <h3>
      <% unless @profile.tagline.nil? %>
        <%= @profile.tagline %></h3>
      <% end %>
  </div>

  <div id="stats">
    <h2>
      <% if @current_user.habits.count.nil? %>
        <%= No %>
      <% else %> 
        <%= @current_user.habits.count %>
      <% end %>
      Habits
      <%= render "habits/add_habit" %>
    </h2><br>
    <h2>
      [POINTS GO HERE] Points
    </h2>
  </div>
</div>