  <div class="section-head">
      <h2 class="center-text">Profile</h2>
  </div>
          
          <div class="pic">
            <% if @profile.profile_pic.nil? %>
              <div class="first-event">
                <p>I'm shy</p>
              </div>
            <% else %>
              <div class="photo">
                <%= image_tag @profile.profile_pic.url(:square) %>
              </div>
            <% end %>
          </div>
        <div class="habit-row">
          <div class="blue-top"></div>
            <div>
              <h3 class="habit-title">
                <%= @current_user.first_name %> <%= @current_user.last_name %>
              </h3>
            </div>
            <div>
              <% unless @profile.tagline.nil? %>
                <h5 class="frequency">
                  <%= @profile.tagline %>
                </h5>
              <% end %>
            </div>
        </div> 

        <div class="habit-row">
          <div class="blue-top"></div>
               
            <h2>
              <% if @current_user.habits.count.nil? %>
                <%= No %>
              <% else %> 
                <%= @current_user.habits.count %>
              <% end %>
              Habits
              </h
              <span class="right-text">
                <%= render "habits/add_habit" %>
              </span>
            </div>
            </h2><br>
            <h2>
              [POINTS GO HERE] Points
            </h2>
          </div>
        </div>