<ul class="nav nav-pills center-text" data-name="<%= @habit.name %>">
<% i = 0 %>
<% days_of_week.each do |pill| %>
  <li class="<%= "active" if (@sunday+i).cwday == Date.today.cwday %> <%=  "completed" if completed?(@completions, @sunday+i) %>" data-day="<%= (@sunday+i).to_s %>"><%=link_to pill, "#" %></li>
  <% i += 1 %>
<% end %>
</ul>
