<div>
  <div class="col-xs-9">
    <div class="post-body">
      <%= post.body %>
    </div>
    <div class="post-footer">
      <div class="post-buttons">
        <div class="post-actions">
          <%= link_to "Wooo! #{show_votes(post.upvotes)}", "#", class: "btn btn-success btn-xs" %>
        </div>
        <div class="post-actions">
          <%= link_to "Booo! #{show_votes(post.downvotes)}", "#", class: "btn btn-danger btn-xs" %>
        </div>
        <div class="post-actions">
          <%= link_to "Reply", "#", class: "btn btn-default btn-xs" %>
        </div>
        
        <div class="right post-info">
          <div class="post-info">
            <span class="post-date"><%= show_date(post.created_at) %></span>
          </div>
          <div class="post-info">
            <%= link_to content_tag(:span, nil, {class: 'glyphicon glyphicon-trash'}), "#" %>
          </div>
        </div>
      </div>
      
    </div>
  </div>
  <div class="col-xs-3">
    <div class="post-author">
      <% profile_pic = post.user.profile.profile_pic.url(:thumb) %>
      <% unless profile_pic = "/profile_pics/thumb/missing.png" %>
        <%= image_tag(post.user.profile.profile_pic.url(:thumb), class: "img-rounded") %>
      <% end %>
      <%= post.user.full_name %>
    </div>
  </div>
</div>