<%= render partial: 'section_head', locals: {title: 'week', actions:'add_habit'} %>
<% if @habits.first.nil? %>
  <a href="<%= new_habit_path %>"><div class="first-event">Add your first event</div></a>

<% else %>
  <div id="sortable">
    <% @habits.each do |h| %>
      <div class="habit-row ui-state-default" >
        <div class="left move">
          <%= link_to content_tag(:span, nil, {class: 'glyphicon glyphicon-align-justify'}), new_habit_path %>
        </div>
        <div class="col-xs-5">
          <h3 class="habit-title"><%= link_to h.name, habit_path(h.id) %></h3>
          <h5><%= h.frequency %>X per week</h5>
        </div>
        <div class="col-xs-6">
          &nbsp;
          <%#= render 'pills' %>
        </div>
      </div>
    <% end %>
  </div>
<% end %>