<%= render partial: 'section_head', locals: {title: 'week', actions:'add_habit'} %>
<% if @habits.first.nil? %>
  <a href="<%= new_habit_path %>"><div class="first-event">Add your first event</div></a>

<% else %>
  <div id="sortable">
    <% start = DateTime.now.beginning_of_week - 1 %>
    <% finish = DateTime.now %>
    <% j = 1 %>
    <% @habits.each do |h| %>
      <div class="habit-row ui-state-default">
        <div class="blue-top"></div>
        <div>
          <div class="col-xs-5">
            <h3 class="habit-title"><%= link_to h.name, habit_path(h.id) %></h3>
            <h5><span class="frequency"><%= h.frequency >  %></span> days this week</h5>
          </div>
          <div class="col-xs-7">
            &nbsp;
            <%#= render 'pills' %>
          </div>
        </div>
        <div class="col-xs-12">
          <div class="progress-ul" id="progress-ul-<%= j %>">
            <% complete_count = h.completions.where(
              status: true && h.created_at >= start && h.created_at <= finish).count %>
            <% for i in 1..complete_count %>
               <div class="active"><%= i %></div>
            <% end %>
            <% for i in (complete_count + 1)..h.frequency %>
               <div class="inactive"><%= i %></div>
            <% end %>
          </div>
        </div>

      </div>
      <% j += 1%> 
    <% end %>
  </div>
<% end %>