<button type="button" class="btn btn-default right">Join</button>
<button type="button" class="btn btn-default right clear-right">Invite<br />More!</button>

<h2><%= @habit.name %></h2>
<h3><%= @habit.frequency %> days per week</h3>

<h2>Public</h2>

<%= render partial: 'section_head', locals: {title: 'week', actions:'reminders'} %>

<ul class="nav nav-pills center-text" data-name="<%= @habit.name %>">
  <%= render partial: 'pill', locals: {completions: @completions, habit: @habit, j: 0} %>
</ul>


<h4 class="center-text underline">Leaderboard</h4>

<div id="leaderboard" >
  <% current_user.friends.limit(3).each do |friend| %>
    <h3><%= "#{friend.first_name} #{friend.last_name}" %></h3>
  <% end %>
</div>

<div class="underline center-text">
  <h3>Posts</h3>
</div>

<textarea class="form-control" rows="3" data-name="<%= @habit.name %>" data-habit="<%= @habit.id %>"></textarea>
<button id="post" type="button" class="btn btn-default">Add!</button>

<div class="posts">
  <% @posts.each do |post| %>
    <div>
      <h4><%= post.body %> by <%= "#{post.user.first_name} #{post.user.last_name}" %></h4>  
    </div>
  <% end %>
</div>
