<button type="button" class="btn btn-default right">Join</button>
<button type="button" class="btn btn-default right clear-right">Invite<br />More!</button>

<h2><%= @habit.name %></h2>
<h3><%= @habit.frequency %>X per week</h3>

<h2>Public</h2>

<div class="underline">
  <button type="button" class="btn btn-default right">SMS Reminders</button>
  <% date = Date.today.beginning_of_week - 1 %>
  <h4 class="center-text date" data-date='<%= Date.today.beginning_of_week-1  %>'><%= date.strftime('Week of %-m/%-d/%Y') %></h4>
</div>

<ul class="nav nav-pills center-text" data-name="<%= @habit.name %>">
  <li class="<%= "active" if date.cwday == Date.today.cwday %> <%=  "completed" if completed?(@completions, date) %>" data-day="<%= date.to_s %>"><a href="#">Sun</a></li>
  <li class="<%= "active" if (date+1).cwday == Date.today.cwday %> <%=  "completed" if completed?(@completions, date+1) %>" data-day="<%= (date+1).to_s %>"><a href="#">M</a></li>
  <li class="<%=  "active" if (date+2).cwday == Date.today.cwday %> <%=  "completed" if completed?(@completions, date+2) %>" data-day="<%= (date+2).to_s %>"><a href="#">Tu</a></li>
  <li class="<%=  "active" if (date+3).cwday == Date.today.cwday %> <%=  "completed" if completed?(@completions, date+3) %>" data-day="<%= (date+3).to_s %>"><a href="#">W</a></li>
  <li class="<%=  "active" if (date+4).cwday == Date.today.cwday %> <%=  "completed" if completed?(@completions, date+4) %>" data-day="<%= (date+4).to_s %>"><a href="#">Th</a></li>
  <li class="<%=  "active" if (date+5).cwday == Date.today.cwday %> <%=  "completed" if completed?(@completions, date+5) %>" data-day="<%= (date+5).to_s %>"><a href="#">F</a></li>
  <li class="<%=  "active" if (date+6).cwday == Date.today.cwday %> <%=  "completed" if completed?(@completions, date+6) %>" data-day="<%= (date+6).to_s %>"><a href="#">Sat</a></li>
</ul>

<h4 class="center-text underline">Leaderboard</h4>
<div id="leaderboard" >
  <% current_user.friends.limit(3).each do |friend| %>
    <h3><%= "#{friend.first_name} #{friend.last_name}" %></h3>
  <% end %>
</div>

<div class="underline center-text">
  <h3>Posts</h3>
</div>

<textarea class="form-control" rows="3" data-name="<%= @habit.name %>"></textarea>
<button id="post" type="button" class="btn btn-default">Add!</button>

<div class="posts">
</div>
