<button type="button" class="btn btn-default right">Join</button>
<button type="button" class="btn btn-default right clear-right">Invite<br />More!</button>

<h2><%= @habit.name %></h2>
<h3><%= @habit.frequency %> days per week</h3>

<h2>Public</h2>

<%= render partial: 'section_head', locals: {title: 'week', actions:'reminders'} %>
<div class="habit-row">
  <ul class="nav nav-pills center-text" data-name="<%= @habit.name %>">
    <%= render partial: 'pill', locals: {completions: @completions, habit: @habit} %>
  </ul>
</div>

<<<<<<< HEAD
<ul class="nav nav-pills center-text" data-name="<%= @habit.name %>">
  <%= render partial: 'pill', locals: {completions: @completions, habit: @habit, j: 0} %>
</ul>


<h4 class="center-text underline">Leaderboard</h4>
=======
<%= render partial: 'section_head', locals: {title: 'leaderboard_title', actions: nil} %>
>>>>>>> d786b54a66a243128ce340ae9ccbc3abb6504790

<div id="leaderboard">
  <div class="habit-row">
  <% current_user.friends.limit(3).each do |friend| %>
    <h3><%= "#{friend.first_name} #{friend.last_name}" %></h3>
  <% end %>
  </div>
</div>

<%= render partial: 'section_head', locals: {title: 'post_title', actions: nil} %>
<%= render 'post_area' %>

<div class="posts">
  <%= render partial: "post", collection: @posts %>
</div>
