<div class="blue-top habit-show-row">
  <div class="col-md-8 col-sm-10"> 
    <div class="inline"><h3 class="habit-title"><%= @habit.name %></h3></div>
    <h5><%= @habit.frequency %> days per week</h5>
    <div class="public-private inline">
      <% if @habit.private? %>
        <%= content_tag(:span, nil, {class: "glyphicon glyphicon-eye-close", alt: "private"}) %>
      <% else %>
        <%= link_to content_tag(:span, nil, class: "glyphicon glyphicon-globe"), edit_habit_path %>
      <% end %>
        <%= link_to content_tag(:span, nil, class: "glyphicon glyphicon-pencil"), edit_habit_path %>
        <%= link_to content_tag(:span, nil, class: "glyphicon glyphicon-trash"), habit_path(@habit), :data => { :confirm => "Are you sure?" }, :method => :delete %>
    </div>
  </div>
  <div class="col-md-4 col-md-2">
    <%= link_to "Join", "#", class: "btn btn-default right" %>
    <%= link_to "Invite", "#", class: "btn btn-default right" %>
  </div>
  <div class="clear"></div>  
  
</div>

<%= render partial: 'section_head', locals: {title: 'week', actions:'reminders' } %>
<div class="habit-show-row">
  <%= render partial: 'pill', locals: {completions: @completions, habit: @habit, j: 0} %>
</div>

<%= render partial: 'section_head', locals: {title: 'leaderboard_title', actions: nil} %>

<div class="habit-show-row">
  <% current_user.friends.limit(3).each do |friend| %>
    <%= "#{friend.first_name} #{friend.last_name}" %>
  <% end %>
</div>  


<%= render partial: 'section_head', locals: {title: 'post_title', actions: nil} %>
<%= render 'post_area' %>
<div class="underline center-text">
  <h3>Posts</h3>
</div>

<div class="posts">
  <%= render partial: "post", collection: @posts %>
</div>
